---
import { Charts } from "@/components/Index";
import Base from "@/layouts/Base.astro";
---

<Base title="Reportes">
  <section
    class="container px-4 pt-8 pb-4 bg-slate-50 min-h-screen flex gap-8 flex-col"
  >
    <Charts client:load />
  </section>
</Base>
